In [1]:
import csv
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify
import pandas as pd
from datetime import datetime as dt
from bs4 import BeautifulSoup as bs
import requests
import os
import numpy as np
from splinter import Browser
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
from IPython.display import display_html

In [3]:
# Collect all URLs wanted for extraction 
appleurl='https://www.macrotrends.net/stocks/charts/AAPL/apple/revenue'
amazonurl = 'https://www.macrotrends.net/stocks/charts/AMZN/amazon/revenue'
googleurl = 'https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/revenue'
facebookurl ='https://www.macrotrends.net/stocks/charts/FB/facebook/revenue'
micrsofturl = 'https://www.macrotrends.net/stocks/charts/MSFT/microsoft/revenue'
netflixurl = 'https://www.macrotrends.net/stocks/charts/NFLX/netflix/revenue'

In [4]:
# Grab the second indexed table on the page and turn them into dataframes
apple_quarter = pd.read_html(appleurl)[1]
amazon_quarter = pd.read_html(amazonurl)[1]
facebook_quarter = pd.read_html(facebookurl)[1]
google_quarter = pd.read_html(googleurl)[1]
micrsoft_quarter = pd.read_html(micrsofturl)[1]
netlfix_quarter = pd.read_html(netflixurl)[1]

In [5]:
# Change the column names
facebook_quarter=facebook_quarter.rename(columns={"Facebook Quarterly Revenue(Millions of US $)": "Quarter_Date", 
                                 "Facebook Quarterly Revenue(Millions of US $).1)": "Facebook_Revenue_Millions_$US"})
facebook_quarter

   Quarter_Date Facebook Quarterly Revenue(Millions of US $).1
0    2020-12-31                                        $28,071
1    2020-09-30                                        $21,470
2    2020-06-30                                        $18,687
3    2020-03-31                                        $17,737
4    2019-12-31                                        $21,082
5    2019-09-30                                        $17,652
6    2019-06-30                                        $16,886
7    2019-03-31                                        $15,077
8    2018-12-31                                        $16,914
9    2018-09-30                                        $13,727
10   2018-06-30                                        $13,231
11   2018-03-31                                        $11,966
12   2017-12-31                                        $12,972
13   2017-09-30                                        $10,328
14   2017-06-30                                         $9,321
15   2017-03-31                                         $8,032
16   2016-12-31                                         $8,809
17   2016-09-30                                         $7,011
18   2016-06-30                                         $6,436
19   2016-03-31                                         $5,382
20   2015-12-31                                         $5,842
21   2015-09-30                                         $4,501
22   2015-06-30                                         $4,042
23   2015-03-31                                         $3,543
24   2014-12-31                                         $3,851
25   2014-09-30                                         $3,203
26   2014-06-30                                         $2,910
27   2014-03-31                                         $2,502
28   2013-12-31                                         $2,585
29   2013-09-30                                         $2,016
30   2013-06-30                                         $1,813
31   2013-03-31                                         $1,458
32   2012-12-31                                         $1,585
33   2012-09-30                                         $1,262
34   2012-06-30                                         $1,184
35   2012-03-31                                         $1,058
36   2011-12-31                                         $1,131
37   2011-09-30                                           $954
38   2011-06-30                                           $895
39   2011-03-31                                           $731
40   2010-12-31                                           $731
41   2010-09-30                                           $467
42   2010-06-30                                           $431
43   2010-03-31                                           $345
44   2009-12-31                                            NaN
45   2008-12-31                                            NaN

In [14]:
apple_quarter=apple_quarter.rename(columns={"Apple Quarterly Revenue(Millions of US $)": "Quarter_Date", 
                                 "Apple Quarterly Revenue(Millions of US $).1": "Apple_Revenue(Millions$US)"})

In [15]:
amazon_quarter=amazon_quarter.rename(columns={"Amazon Quarterly Revenue(Millions of US $)": "Quarter_Date", 
                                 "Amazon Quarterly Revenue(Millions of US $).1": "Amazon_Revenue(Millions$US)"})

In [16]:
google_quarter=google_quarter.rename(columns={"Alphabet Quarterly Revenue(Millions of US $)": "Quarter_Date", 
                                 "Alphabet Quarterly Revenue(Millions of US $).1": "Google_Revenue(Millions$US)"})

In [17]:
micrsoft_quarter=micrsoft_quarter.rename(columns={"Microsoft Quarterly Revenue(Millions of US $)": "Quarter_Date", 
                                 "Microsoft Quarterly Revenue(Millions of US $).1": "Microsoft_Revenue(Millions$US)"})

In [18]:
netlfix_quarter=netlfix_quarter.rename(columns={"Netflix Quarterly Revenue(Millions of US $)": "Quarter_Date", 
                                 "Netflix Quarterly Revenue(Millions of US $).1": "Netflix_Revenue(Millions$US)"})

In [ ]:
# Create engien that connects to ElephantSQl
engine = create_engine("postgres://qzewnmvp:KLrEMMwqNGoGYgkvTiI5pNANap7CuFbP@ziggy.db.elephantsql.com:5432/qzewnmvp")
Base = automap_base()
Base.prepare(engine, reflect= True)

In [27]:
facebook_quarter.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='facebook_quarter.csv')  
facebook_quarter.to_csv('facebook.zip', index=False,
          compression=compression_opts)

In [28]:
apple_quarter.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='apple_quarter.csv')  
apple_quarter.to_csv('apple.zip', index=False,
          compression=compression_opts)

In [29]:
amazon_quarter.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='amazon_quarter.csv')  
amazon_quarter.to_csv('amazon.zip', index=False,
          compression=compression_opts)

In [30]:
google_quarter.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='google_quarter.csv')  
google_quarter.to_csv('google.zip', index=False,
          compression=compression_opts)

In [31]:
micrsoft_quarter.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='micrsoft_quarter.csv')  
micrsoft_quarter.to_csv('microsoft.zip', index=False,
          compression=compression_opts)

In [32]:
netlfix_quarter.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='netlfix_quarter.csv')  
netlfix_quarter.to_csv('netflix.zip', index=False,
          compression=compression_opts)